<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAQAcquisitionService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAQAcquisitionService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://iz25x3w7nubz/AQUARIUS/AQAcquisitionService.svc/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAQAcquisitionService"
                contract="ServiceReference_AQ.IAQAcquisitionService" name="BasicHttpBinding_IAQAcquisitionService" />
           
        </client>
    </system.serviceModel>
</configuration>