<system>
  <Project>
    <Pro name="we" path="D:\吴琼\安装文件\Service 水资源数据库调整后  -卫星完成 - 伟思 - 大动\YYService\Soft/System.xml" />
  </Project>
  <DataBaseConnect>
    <Type Port="1433">MSSQL</Type>
    <Source>123.57.234.45</Source>
    <DataBase>JS_ADJC</DataBase>
    <UserName>aq</UserName>
    <PassWord>aquarius</PassWord>
  </DataBaseConnect>
  <Dll>
    <DataProtocol file="Center.dll" class="Service.Center" />
  </Dll>
  <Service>
    <tcp serviceid="1" ip_portname="0.0.0.0" port_baudrate="16018" />
  </Service>
  <UI>
    <tcp ip="127.0.0.1" port="8888" />
  </UI>
  <TC>
    <tcp ip="192.168.1.62" port="16020" />
  </TC>
  <Login>
    <UserName>admin</UserName>
    <PassWord>123</PassWord>
  </Login>
  <Mail IsToMail="1" />
  <WriteInfo Encoding="HEX" />
  <Resave Name="HLJ" file="DataResave_HLJ.dll" class="DataResave_HLJ.DataResave_HLJ" />
</system>