<system>
  <Project>
    <Pro name="北京" path="" />
  </Project>
  <DataBaseConnect>
    <Type Port="1433">MSSQL</Type>
    <Source>123.57.234.45</Source>
    <DataBase>JS_shuiwen111</DataBase>
    <UserName>aq</UserName>
    <PassWord>aquarius</PassWord>
  </DataBaseConnect>
  <Dll>
    <DataProtocol file="ADJC-001.dll" class="ADJC_001.ADJC001" />
  </Dll>
  <Service>
    <tcp serviceid="1" ip_portname="0.0.0.0" port_baudrate="16018" />
    <gsm serviceid="2" ip_portname="COM4" port_baudrate="9600" num="13555555555" />
  </Service>
  <UI>
    <tcp ip="127.0.0.1" port="8888" />
  </UI>
  <TC>
    <tcp ip="192.168.1.62" port="16020" />
  </TC>
  <Login>
    <UserName>admin</UserName>
    <PassWord>123</PassWord>
  </Login>
  <Mail IsToMail="1" />
  <WriteInfo Encoding="HEX" />
  <Resave Name="HLJ" file="DataResave_HLJ.dll" class="DataResave_HLJ.DataResave_HLJ" />
</system>