<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataResaveTool.Properties.Settings.JS_ShuiWenConnectionString"
            connectionString="Data Source=123.57.234.45;Initial Catalog=JS_ShuiWen;Persist Security Info=True;User ID=aq;Password=aquarius"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>