<system>
  <Project>
    <Pro name="北京" path="E:\接收软件代码\DevControlsDemo_5.2\Service 水资源数据库调整后  -卫星完成\YYApp\bin\Debug/System.xml" />
  </Project>
  <DataBaseConnect>
    <Type Port="1433">MSSQL</Type>
    <Source>123.57.234.45</Source>
    <DataBase>JS_HTJ212</DataBase>
    <UserName>aq</UserName>
    <PassWord>aquarius</PassWord>
  </DataBaseConnect>
  <Dll>
    <DataProtocol file="Center.dll" class="Service.Center" />
  </Dll>
  <Service>
    <tcp serviceid="1" ip_portname="0.0.0.0" port_baudrate="61001" />
  </Service>
  <UI>
    <tcp ip="127.0.0.1" port="8889" />
  </UI>
  <TC>
    <tcp ip="192.168.1.62" port="16020" />
  </TC>
  <Login>
    <UserName>admin</UserName>
    <PassWord>123</PassWord>
  </Login>
  <Mail IsToMail="1" />
  <WriteInfo Encoding="ASC" />
  <Resave Name="AQ" file="DataResave_AQ.dll" class="DataResave_AQ.Resave_AQ" />
</system>